<form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <textarea
      matInput
      placeholder="Respuesta"
      id="description"
      formControlName="description"></textarea>
  </mat-form-field>
  <mat-card-actions>
  	  <button type="submit" mat-raised-button color="primary"><mat-icon>question_answer</mat-icon> Responder</button>
      <button (click)="updateStatus(1)" mat-stroked-button color="primary" *ngIf="owner && question.status === '0'"><mat-icon matPreffix>lock_open</mat-icon> Abrir Pregunta</button>
	  <button (click)="updateStatus(0)" mat-stroked-button color="accent" *ngIf="owner && question.status === '1'"><mat-icon matPreffix>lock</mat-icon> Cerrar Pregunta</button>
  </mat-card-actions>
</form>
